/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
}

body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh; /*100%viewportheight*/
    background-color: rgb(255, 255, 255);
    color: black;
    padding-bottom: 3rem;
    line-height: 1.34;
    margin: 0;
    padding: 0;
}

/*.sidebar {
    width: 20rem; /* Adjust width as needed */
    /*height: 100dvh;
    background-color: rgb(255, 255, 255); /* Sidebar background color */
   /* position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto; 
    border-right: 1px solid #000000;*/

/*.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

/*.sidebar ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 18px; /* Sidebar link color */



img {
    display: block;
    background-color: black;
}
.container{
    max-width: 94rem; /*940*/
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    }

.btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}
.profile-settings-btn {
    height: 20;
    width: 20;
}
.visually-hidden{
    display: none;
}
.profile {
    padding: 5rem 0;
    
}


.profile::after {
    content: "";
    display: block;
    clear: both;
    padding-top: 3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.profile-image{
    float: left;
    width: calc(33.333% - 1rem); /*1/3 x width - 1 rem*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8rem;
   
}
.profile-image img{
    border-radius: 50%;
    border-color: rgb(255, 0, 93);
    border-style: solid;
    background-color: aliceblue;
    width: 70%;
    height: auto;
    
}

.profile-user-settings{
    margin-top: 1.1rem; 

}
.profile-user-name{
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300;
}
.profile-edit-btn {
    font-size: 1.6rem;
    line-height: 1.8;
    border: 0.1rem solid #000000;
    background-color: rgb(255, 255, 255);
    border-radius: 0.7rem;
    padding: 0 1.2rem;
    margin-left: 2rem;
}
.profile-stats {
    font-family: "Roboto", sans-serif;
    margin-top: 2rem;
}
.profile-stats li {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
}
.profile-stat-count{
    font-family: "Roboto", sans-serif;

    
}
.profile-bio{
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 2.3rem;
}
.profile-real-name {
    font-family: "Open Sans", Arial, sans-serif;
}

.gallery {
    display: grid;
    /*flex-direction: column;*/
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-gap: 2px;
    /*padding-bottom: 0px;*/

    

    
}
.gallery-item {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
    position: relative;
    margin: 0.2rem;
    color: black;
}
.gallery-item:hover .gallery-item-info{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffffeb;

}
.gallery-item:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffffeb;
}
.gallery-item-info {
    display: none;
}

.gallery-item-info li {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
}

.gallery-item-likes {
    margin-right: 2.2rem;
}

.gallery-item-type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
    /* these are for the icons to put them in the top right position of its alocated imaged */
}


.gallery-image {
    object-fit: cover;
    width: 100%;
    height: 30rem;

}

.loader {
    width: 30px;
    height: 30px;
    border: 3px solid transparent;
    border-radius: 50%;
    border-right-color: rgb(0, 0, 0);
    margin: 0 auto;
    margin-top: 3rem;
    animation: loader 0.8s linear infinite;
}

@keyframes loader {
    from {
   transform: rotate(0);
 }
 to {
   transform: rotate(360deg);
 }
}

@media screen and (max-width: 900px) {
    .profile {
        flex-wrap: wrap;
        padding: 3rem 0;
    }

    .profile-stats li {
        font-size: 1.4rem;
        flex: 1;
        margin: 0;
    }
    
     .profile-stats ul {
        display: flex;
        text-align: center;
        padding: 1.2rem 0;
    }    

    .profile-stat-count {
        display: block;
    }


    

    .profile-user-name {
        font-size: 2rem;
        padding-right: 2rem;
    }

    .profile-edit-btn {
        margin-left: 0;
    }

    .profile-bio {
        font-size: 1.4rem;
        margin-top: 1.5rem;
        padding-left: 25%;
    }

    
    .profile-stats {
        flex-basis: 100%;
    }
    


    .profile-settings-btn {
        display: none;
    }
        
    .gallery {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: center;

    }

    .gallery-image {
        object-fit: cover;
        width: 100%;
        height: 15rem;
    }
}

